%div{:style => "margin: 0 auto; width: 800px;"}
  %div{:style => "float: left; width: 600px;"}
    = render :partial => 'table'
  %div{:style => "padding-left: 24px; float: right; width: 175px; border-left: 1px dotted black;"}
  = render :partial => 'formulas'





  